.App {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  /* border: 1px solid blue; */
  box-sizing: border-box;

}

.container {
  background-color: #2b2d42;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1 {
  color: #2b2d42;
  text-align: center;
  margin: 20px 0;
}

.list-container {
  background-color: #edf2f4;
  width: 35%;
  min-height: 300px;
  border-radius: 10px;
  margin: 100px 0;
}

ul {
  padding: 10px 30px 30px 30px;
}

.row {
  list-style-type: none;
  margin: 5px;
  padding: 15px;
  font-size: 18px;
  background-color: #ee6c4d;
  color: #edf2f4;
  
}

input[type=text] {
  border: none;
  background-color: #ee6c4d;
  font-size: 18px;
  margin-left: 10px;
  color: #edf2f4;
  width: 90%;
}

input[type=text]:focus {
  outline: none;
}

input[type=checkbox] {
  cursor: pointer;
  float: left;
  margin-top: 5px;
}

span {
  display: inline-block;
  margin-left: 10px;
  width: 80%;
}

.done {
  background-color: #7b84c4;
  word-wrap: break-word;
  word-break: break-all;
}

.deleteBtn {
  float: right;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

@media screen and (max-width: 1100px) {
  .list-container {
    width: 40%;
    margin-left: 30px;
    margin-right: 30px;
  }
  .container {
    justify-content: center;
  }
  span {
    width: 80%;
  }
} 

@media screen and (max-width: 820px) {
  .list-container {
    width: 80%;
    margin: 30px 0;
  }
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input[type=text] {
    width: 80%;
  }
}